@font-face {
  font-family: "bali";
  src: url("Widya Patra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  word-spacing: 20px;
}
@font-face {
  font-family: "bali2";
  src: url("Bali muncar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  word-spacing: 20px;
}
@font-face {
  font-family: "bali3";
  src: url("b_simbar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  word-spacing: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  text-transform: lowercase;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 00.6s;
  z-index: 100000;
  padding: 40px 100px;
}
header.sticky {
  padding: 5px 100px;
  background: #d1231d;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header ul li:hover {
  background-color: #771815;
  color: white;
  transition: 0.5s;
}
header ul li a:hover {
  color: white;
}
header ul li:active {
  background-color: black;
}

body {
  min-height: 200vh;
}

header.sticky .logo,
header.sticky ul li a {
  color: white;
}

body {
  background-image: url(jb.jfif);
  background-size: auto;
  height: 776px;
  text-align: center;
  transition: 0.6s;
  padding: 280px 100px;
}
.jumbotron .display-4 {
  color: white;
}
.jumbotron p {
  color: white;
  font-size: 25px;
}
.jumbotron .container hr {
  height: 7px;
  width: 70px;
  border-radius: 30px;
}
.jumbotron .btn {
  border-radius: 30px;
  width: 135px;
}
